<footer class="site-footer">
  <div class="container">
    <small class="block"><a href="https://gitlab.com/labseven/impossible-maps-blog" target="_blank">&lt;/ Source &gt;</a> Powered by <a href="https://jekyllrb.com/">Jekyll</a> and <a href="https://github.com/heiswayi/thinkspace">Thinkspace theme</a></small>
  </div>
</footer>
