---
layout: map
title: "Turn Straight: Interactive Edition"
published: false
---
<div id='map'></div>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>

<script>
  var map = new mapboxgl.Map({
    container: 'map', // you need this
    style: 'mapbox://styles/labseven/cjrsno9c1ji0j2sl3acllora9', // you also need this
    center: [-71.26247406005858, 42.291532494305976],
    zoom: 15,
    pitch: 0
  });



  mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken});
  console.log(mapboxClient);

  mapboxClient.directions.getDirections({
    waypoints: [
    {
      coordinates: [-71.26247406005858,
          42.291532494305976]
    },
    {
      coordinates: [-71.20101928710938, 42.297881332524916]
    }]
  }).send()
    .then(response => {
      const directions = response.body;
      map.addSource('directions', {
        type: 'geojson',
        data: directions
    });
      console.log(directions);
    });
</script>
