---
layout: map
title: "Web Map: mapboxGL Edition"
published: true
---
<div id='map'></div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibGFic2V2ZW4iLCJhIjoiY2pydGJ3ZHZ6MDVkcjQzbGZtaDZqN2ZyNiJ9.DSAmzTaf6v-d3YsIwwhi8g';

  var map = new mapboxgl.Map({
      container: 'map', // you need this
      style: 'mapbox://styles/labseven/cjrsno9c1ji0j2sl3acllora9', // you also need this
      center: [-121.674626, 44.185172],
      zoom: 11.5,
      pitch: 50
    });


  // Source is where the data is coming from, layer is what you're going to do with it.

  map.on('load', function(){
    map.addSource("sisters", {
      type: "geojson",
      data: '/assets/map_data/map2.json'
    });
    map.addSource("HSForest", {
      type: "geojson",
      data: '/assets/map_data/map2.1.json'
    });
    map.addLayer({
          'id': 'sisters', //id here should match the source
          'type': 'circle',
          'source': 'sisters',
          'paint': {
            'circle-color': 'green',
            'circle-opacity': .5
          }
        })
    map.addLayer({
      'id': 'HSForest',
      'type': 'fill',
      'source': 'HSForest',
      'paint': {
        'fill-color': 'green',
        'fill-opacity': .9
      }
    })
  });

  //  add popup
  var popup = new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false
  });

  map.on('mouseenter', 'HSForest',
    function(e) {
      map.getCanvas().style.cursor = 'pointer';

      var coordinates = e.features[0].geometry.coordinates[0][11].slice();
      var details = e.features[0].properties.details;

      // Populate the popup and set its coordinates
      // based on the feature found.
      popup.setLngLat(coordinates)
      .setHTML(details)
      .addTo(map);
    });
  map.on('mouseleave', 'HSForest', function() {
    map.getCanvas().style.cursor = '';
    popup.remove();
  })

  map.on('mouseenter', 'sisters', function(e) {
      // Change the cursor style as a UI indicator.
      map.getCanvas().style.cursor = 'pointer';

      var coordinates = e.features[0].geometry.coordinates.slice();
      var details = e.features[0].properties.details;

      // Populate the popup and set its coordinates
      // based on the feature found.
      popup.setLngLat(coordinates)
      .setHTML(details)
      .addTo(map);
    });

  map.on('mouseleave', 'sisters', function() {
    map.getCanvas().style.cursor = '';
    popup.remove();
  })


</script>
