---
layout: compress
published: true
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <main class="wrapper">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </main>
    {% include foot.html %}
  </body>
</html>
