---
layout: null
published: true
---
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <style>
    /* Gives us a map that takes up the full webpage */
        body {
            margin: 0;
            padding: 0;
        }
        #map {
          position: absolute;
          display: block;
          width: 100%;
          top: 80px; /* margin for the header */
          bottom: 0;
          left: 0;
          right: 0;
        }
    </style>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <main class="wrapper">
      {% include header.html %}
      <script>mapboxgl.accessToken = 'pk.eyJ1IjoibGFic2V2ZW4iLCJhIjoiY2pydGJ3ZHZ6MDVkcjQzbGZtaDZqN2ZyNiJ9.DSAmzTaf6v-d3YsIwwhi8g';</script>
      <article class="page container">
        {{ content }}
      </article>
      {% include footer.html %}
    </main>
    {% include foot.html %}
  </body>
</html>
